body {
    height: 100vh;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
}

.theme-light {
    --color-primary: #f4f5ef;
    --color-secondary: #fbfbfe;
    --color-accent: #20325e;
    --font-color: #000000;
  }
  .theme-dark {
    --color-primary: #0e172e;
    --color-secondary: #212222;
    --color-accent: #f7f8ee;
    --font-color: #ffffff;
  }

.header {
    border:var(--color-accent);
    border-radius: 10px;
    border-style: solid;
    display: flex;
    justify-content: space-between;
    background: var(--color-primary);
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}

.logo {
    color: var(--font-color);
    font-size: 24px;
    font-weight: 900;
}

ul {
    color: var(--font-color);
    list-style-type: none;
    display: flex;
    gap: 20px;
}

ul switch {
    color: var(--font-color);
    background: var(--color-primary);

    font-size: 18px;
    border:var(--color-accent);
    border-style:ridge;
    border-radius: 10px;
    padding: 5px;
    padding-right: 20px;
    padding-left: 20px;
  }

a {
    text-decoration: none;
    color: var(--font-color)b;
    font-size: 18px;
}

.footer {
    border:var(--color-accent);
    border-radius: 10px;
    border-style: solid;
    background: var(--color-primary);
    color: var(--font-color);
    font-size: 18px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}


.container {
    flex: auto;
    display: flex;
    flex-direction: column;
    margin: auto auto;
}
.container button {
    color: var(--font-color);
    background: var(--color-primary);

    font-size: 18px;
    border:var(--font-color);
    border-style:ridge;
    border-radius: 10px;
    padding: 5px;
    padding-right: 20px;
    padding-left: 20px;
  }
.hero {
    display: flex;
    padding: 100px;
    background: var(--color-primary);
    gap: 40px;
    padding-left: 50px;
    padding-right: 50px;

}

.partition1 {
    display: flex;
    flex-direction: column;
    flex: 1;
    row-gap: 10px;
}

.hero-primary {
    
    color: var(--font-color);
    font-size: 48px;
    font-weight: bolder;
}

.hero-secondary {
    
    color: var(--font-color);
    font-size: 18px;
}

.placeholder {
    color: var(--font-color);
    border:var(--color-accent);
    border-radius: 10px;
    border-style: solid;
    background-color:var(--color-primary);
    font-size: 24px;
    text-align: center;
    padding-top: 50px;
    flex: 1;
}


.first {
    color: var(--font-color);
    background-color: var(--color-primary);
    align-self: flex-start;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    padding-right: 20px;
    padding-left: 20px;
}

.information {
    color: var(--font-color);
    border:var(--color-accent);
    border-radius: 10px;
    border-style: solid;
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;
    padding: 50px;
    padding-left: 100px;
    padding-right: 100px;
    gap: 30px;
    align-items: center;
}

.information-header {
    font-size: 36px;
    font-weight: bolder;
    background-color: var(--color-primary);;
    align-self: center;
    flex: 0 0 auto;
}

.partition2 {
    display: flex;
    column-gap: 30px;
    flex: 1 0 auto;
}

.A,
.B,
.C,
.D {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.Space {
    border:var(--color-accent);
    border-radius: 10px;
    border-style: solid;
    height: 125px;
    width: 125px;
}

.info {
    
    text-align: center;
}

.quote {
    color: var(--font-color);
    border:var(--color-accent);
    border-radius: 10px;
    border-style: solid;
    display: flex;
    background-color: var(--color-primary);
    flex-direction: column;
    padding: 50px;
    padding-left: 100px;
    padding-right: 100px;
}
45
.quotation {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: var(--color-secondary);
    text-align: justify;
    padding-left: 25px;
    padding-right: 25px;
}

.name {
    font-size: 20px;
    text-align: end;
    font-weight: bold;
}

.signing {
    border:var(--color-accent);
    border-radius: 10px;
    border-style: solid;
    background-color: var(--color-primary);
    color: var(--font-color);
    padding: 40px;
    display: flex;
    margin: 100px auto;
    padding-left: 80px;
    padding-right: 80px;
    border-radius: 10px;
    gap: 50px;
}

.call {
    font-size: 20px;
    font-weight: bold;
}

.second {
    color: var(--font-color);
    background-color: var(--color-primary);
    font-size: 18px;
    border:var(--color-accent);
    border-style:ridge;
    border-radius: 10px;
    padding: 5px;
    padding-right: 20px;
    padding-left: 20px;
}